@media screen and (max-width:576px) {
    body{
        font-size: 0.8em;
    }
    .primary-button{
            padding:10px 20px;
            margin: 10px 0 0;
    }
    /* HEADER STYLES */
/* NAVIGATION BAR STYLES */
    .nav-link ul{
        flex-direction: column;
        gap:30px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    nav{
        flex-direction: column;
        margin: 0;
        height: auto;
        padding: 0 0px;
    }
/* BANNER STYLES */
    
    .banner-container{
        flex-direction: column-reverse;
        padding: 0;
        gap:40px;
        background: none;
        margin: 50px auto 100px;
        width: 100vw;
        height: auto;              
    }   
    .banner-cartoon>img{
        width:95vw;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }
    /* GAMER STYLES */
    .gamer-section{
        flex-direction: column;
        background: none;
        gap:0px;
        padding: 0;
    }
    .gamer-content{
        text-align: center;
        width:95vw;
        margin: 0 auto;
    }
    /*  ONLINE GAMES SECTION SECTION */
    .online-games-section{
        padding: 0 0px 50px;
        margin: 0 auto;
    }
    .online-games-container {
        flex-direction: column;
        gap:15px;
    }
    .image{
        width:60vw;
        height: auto;
        text-align: center;
    }
    .image img {
        width: 100%;
        height: 50vh;
    }
    /* ENDING  ONLINE GAMES SECTION SECTION  */
/* STARTING  PLAY GAMES SECTION */
    .play-games-section{
        padding: 0;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap:0px;
        justify-content:center ;
        width:90%;
    }
    .play-games-section p,.play-games-section h3{
        text-align: center;
    }
    .play-games-picture{
        width:60%;
        margin: 0 auto;
        transform: translateX(20%);
    }
    .play-games-picture img{
        width:80%;
        
    }
    .parent-image{
        width: 100%;
        margin: 0 auto;
        margin: 0 auto;
    }
    .child-image{
        width: 60%;
    }
    .game-type-container{
        justify-content: space-between;
        gap:10px;
     }
     .game-type-container>div{
        width:25%;
        height: 10vh;
        padding:5px;
     }
     .footer{
        padding: 150px 20px 0 ;
        margin: 0;
        
        height: auto;
     }
     .footer div{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     }
     .icon-overlay {
        width: 85%;
        left: 25px;
     }
}





@media screen and (min-width:576px) and (max-width:992px) {
    .nav-link ul{
        gap:90px;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        width:100%;
    }
    
    nav{
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
    }
    section{
        padding: 0;
        margin: 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 0;
        background: none;
        margin: 80px auto 0;
        width: 90vw;
        height: auto;
    }
    .banner-cartoon>img{
        width:75vw;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }
    .mini-pic>img{
        width:35vw;
    }
    .mini-pic{
        align-items: flex-end;
        gap: 0px;
    }
    
    .banner-content{
        padding: 60px 0px 0;
        margin: 50px 0;
        text-align: center;
    }
    .gamer-section{
        flex-direction: column;
        background: none;
        gap:0px;
        padding: 0;
    }
    .gamer-picture img{
        width:100vw;
        height: auto;
    }
    .gamer-content{
        text-align: center;
        width:80vw;
        margin: 0 auto;
    }
    .online-games-section{
        padding: 0 0px 100px;
        margin: 0 auto;
    }
    .gamer-content h4{
        margin:20px;
    }
    .online-games-container {
        gap:0px;   
    }
    .image{
        width:22vw;
        height: 100%;
        margin: 0 auto; 
        gap:0px;   
    }
    .image img {
        width: 100%;
        height: auto;
    }
    .play-games-section{
        padding: 0 10px;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap:0px;
        width:90vw;
    }
    .play-games-content {
        width: 100%;
        text-align: center;
    }
    .play-games-content p{
        text-align: center;
    }
    .play-games-picture{
        width:50%;
        margin: 0 auto;
        padding: 0;
        transform: translateX(20%);
        
    }
    .game-type-container{
        justify-content: space-between;
        gap:10px;
        margin: 0 auto;
        padding: 20px;
     }
     .game-type-container>div{
        width:25%;
        height: auto;
        padding:5px;
     }
     .footer{
        padding: 150px 70px 0 ;
        margin: 0;
        height: auto;
     }
     .footer h5{
        margin-left: 10px;
     }
}