@media screen and (max-width:576px) {
    body{
        font-size: 0.8em;
        background:none;
    }
    .primary-button{
            padding:10px 20px;
            margin: 0;
    }
    .nav-link ul{
        flex-direction: column;
        gap:50px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    section{
        padding: 0;
        margin: 0;
    }
    nav{
        flex-direction: column;
        margin: 0;
        height: auto;
        padding: 0 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 0;
        background: none;
        margin: 80px auto 0;
        width: 100vw;
        height: auto;
        text-align: center;
    }
    
    .banner-cartoon>img{
        width:75vw;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }
    .mini-pic>img{
        width:35vw;
    }
    .mini-pic{
        align-items: flex-end;
        gap: 0px;
    }
    .banner-content{
        text-align: center;
        width:80%;
        padding: 40px 0 10px;
        margin: 0px auto;
        background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    }
    .gamer-section{
        flex-direction: column;
        background: none;
        gap:0px;
        padding: 0;
    }
    .gamer-picture img{
        width:100vw;
        height: auto;
    }
    .gamer-content{
        text-align: center;
        width:80vw;
        margin: 0 auto;
    }
    .gamer-content h4{
        margin:20px;
    }
    .online-games-section{
        padding: 0 0px 50px;
        margin: 0 auto;
    }
    .online-games-container {
        flex-direction: column;
        gap:10px;
    }
    .image{
        width:90vw;
        height: 70vh;
        text-align: center;
    }
    .image img {
        max-width: 85%;
        height: 60vh;
    }
    .play-games-section{
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
        gap:0px;
        width:90vw;
    }
    .play-games-content {
        width: 100%;
        text-align: center;
    }
    .play-games-content p{
        text-align: center;
    }
    .play-games-picture{
        width:100%;
        margin: 0 auto ;
        padding: 0 ;   
    }
    .parent-image img{
        width:100%;
    }
    .child-image img{
        width:100%;
        margin: 0;
        padding: 0;
    }
    .parent-image {
        margin: 0;
        padding: 0;
    }
    .game-type-container{
        justify-content: space-between;
        gap:10px;
     }
     .game-type-container>div{
        width:25%;
        height: 10vh;
        padding:5px;
     }
     .footer{
        padding: 150px 20px 0 ;
        margin: 0;
        width:100vw;
        height: auto;
     }
     .footer div{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     }
}





@media screen and (min-width:576px) and (max-width:992px) {
    .nav-link ul{
        gap:85px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    nav{
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    section{
        padding: 0;
        margin: 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 0;
        background: none;
        margin: 80px auto 0;
        width: 90vw;
        height: auto;
    }
    .banner-content{
        text-align: center;
        width:70vw;
        padding: 60px 40px;
        margin: 50px auto;
        background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    }
    .banner-cartoon>img{
        width:75vw;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }
    .mini-pic>img{
        width:35vw;
    }
    .mini-pic{
        align-items: flex-end;
        gap: 0px;
    }
    
    .banner-content{
        width:70vw;
        padding: 60px 30px 0;
        margin: 50px auto;
        background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    }
    .gamer-section{
        flex-direction: column;
        background: none;
        gap:0px;
        padding: 0;
    }
    .gamer-picture img{
        width:100vw;
        height: auto;
    }
    .gamer-content{
        text-align: center;
        width:80vw;
        margin: 0 auto;
    }
    .online-games-section{
        padding: 0 0px 100px;
        margin: 0 auto;
    }
    .gamer-content h4{
        margin:20px;
    }
    .online-games-container {
        gap:0px;   
    }
    .image{
        width:22vw;
        height: 80vh;
        margin: 0 auto; 
        gap:0px;   
    }
    .image img {
        width: 100%;
        height: auto;
    }
    .play-games-section{
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
        gap:0px;
        width:90vw;
    }
    .play-games-content {
        width: 100%;
        text-align: center;
    }
    .play-games-content p{
        text-align: center;
    }
    .play-games-picture{
        width:60vw;
        margin: 0 auto;
        padding: 0;
        
    }
    .parent-image {
        width:50vw;
        margin: 0;
        padding: 0;
    }
    .game-type-container{
        justify-content: space-between;
        gap:10px;
        margin: 0 auto;
        padding: 20px;
     }
     .game-type-container>div{
        width:25%;
        height: auto;
        padding:5px;
     }
     .footer{
        padding: 150px 70px 0 ;
        margin: 0;
        width:100vw;
        height: auto;
     }
}