@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    max-width: 130em;
    font-size: 1em;
    background:linear-gradient(180deg, #f948b21a 0%, #8658f104 100%);
    box-sizing: border-box;
}
/* SHARED STYLES */
.flex{
    display:flex;
    align-items: center;
}
.primary-button{
    margin: 55px 0 0;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 32px;
    border: none;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}
.info{
    color: #534C64;
    font-size: .9em;
    font-weight: 500;
    text-transform: lowercase;
}
/* HEADER STYLES */
/* NAVIGATION BAR STYLES */
nav{
    justify-content: space-between;
    padding: 0 180px;
    height: 120px;
    background: white;
}
.logo{
    justify-content: center;
    gap:10px;
}
.logo h3{
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
}
.logo span{
    color:#FF42A5;
}
.nav-link ul{
    gap:40px;
}
.nav-link ul li{
    list-style-type: none;
}
.nav-link ul li a,.social-links p{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.social-links{
    gap:20px;
    width: 200px;
    height: 30px;
    padding:15px 25px;
    text-align: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
/* BANNER STYLES */

.banner-container{
    justify-content: space-between;
    align-items: center;
    padding: 0 180px 0;

}
.banner-content{
    width: 60%;
    height: auto;
}
.banner-content h2{
    color: #0B0223;
    text-align: start;
    font-size: 2.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px auto;
}
.banner-content h1{
    text-align: start;
    font-size: 5em;
    font-weight: 800;
    margin: 0px auto;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content div{
    display: flex;
    align-items: center;
    gap: 6px;
    height: 35px;
}

.banner-cartoon{
    z-index: -1;
}
.banner-cartoon>img{
    width: 100%;
    height: auto;
    
}
.mini-pic{
    justify-content: flex-end;
    gap: 40px;
}
/* GAMER STYLES */
.gamer-section{
    margin: 0 auto;
    justify-content: center;
    padding: 150px 180px;
}
.gamer-content h4{
    font-size: 3em;
    margin: 0px 0px 20px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-content{
    text-align: right;
    width:50%;
}
.gamer-picture{
    width:100%;
}
.gamer-picture img{
    width:100%;
    height: max-content;
}
.gamer-content button{
    margin: 10px 0 0;
}
.gamer-info{
    color: #534C64;
    font-size: .9em;
    font-weight: 500;
    line-height: 35px;
}
.purpose{
    color: #534C64;
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 0;
}
.gamer-content h5{
    color: #534C64;
    font-size: 2em;
    font-weight: 700;
    line-height: 45px;
    margin-top: 5px;
}
/* ENDING  GAMER SECTION  */
/* STARTING  ONLINE GAMES SECTION SECTION */
/* .online-games-container{
    gap:20px;
    
} */
.online-games-section{
    padding: 0 180px 150px;
    margin: 0 auto;
    
}
.online-games-container{
    margin: 0 auto;
}
.online-games-section h1{
    color: #0B0223;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0;
}
.online-games-section span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
    font-weight: 700;
}
.online-games-section>p{
    text-align: center;
    margin-bottom: 70px;
}
.online-games-container{
    justify-content: center;
    gap:50px;
}
.image{
    width:20vw;
    height: 30vh;
  }
  .image img {
    width: 100%;
  }
  
  .image-description {
    margin-top: 10px;
    width:100%;
  }
  .image-description p{
    color: #534C64;
    font-size: .9em;
    font-weight: 500;
  }
  /* ENDING  ONLINE GAMES SECTION SECTION  */
/* STARTING  PLAY GAMES SECTION */
.play-games-section{
    padding: 0 180px 150px;
    margin: 0 auto;
    justify-content: center;
    gap:150px;
}
.play-games-content{
    width:40%;
    text-align: right;
    font-weight: 700;
    line-height: 60px;
    
}
.play-games-content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-games-content h3{
    color: #0B0223;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 60px;
}
.play-games-content p{
    color: #534C64;
    text-align: right;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px;
}
.play-games-picture{
    width:20em;
}
.play-games-picture img{
    max-width:100%;
}
.parent-image{
    width: 25em;
}
.parent-image img{
    position: relative;
    bottom: -10em;
    left:5em;
    z-index: -1;
}
.child-image{
    width: 10em;
}
 /* ENDING  PLAY GAMES SECTION */
 /* STARTING GAME TYPES SECTION */
 .game-type-section{
    width:100%;
    height:auto;
    margin: 100px auto;
    justify-content: center;
 }
 .game-type-section img{
    width:20%;
    height:auto;
 }
 .game-type-container{
    width:90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
 }
 .game-type-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    padding:5px;
    gap:10px;
    border-radius: 50px;
    background: #FFF;
 }
 .game-type-container p{
    color: #0B0223;
    font-size: .8em;
    font-weight: 600;
 }
 .game-type-container>div:hover{
    border:1px solid #FF42A5;
    
 }
 .game-type-container p:hover{
    color:#FF42A5;
 }
 /* ENDING  GAME TYPES SECTION */
 /* STARTING  FOOTER */

 .footer{
    padding: 150px 180px 0 ;
    margin: 0 auto;
    background-color: #0B0223;
    max-width: 100%;
    height: 70vh;
 }
 .footer p{
    color: rgb(117, 117, 117);
    text-align: center;
    font-size: .9em;
    font-weight: 500;
    margin:30px 20px 10px 0;
 }
 .footer div{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footer h3{
    color: #FFF;
 }
 .footer h5{
    color: #FFF;
    margin:0 30px 50px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
 }
.footer-icons img{
    margin:30px 20px 30px;
 }
